.footerpost {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin-bottom: 15px;
  background-color: #2c2f33;
  color: #fafafa;
}

.footerpost__actions {
  display: flex;
  flex-direction: row;
  width: 100% !important;
}
.footerpost__actions__common {
  flex: 1;
}

.footerpost__data__likes {
  font-family: "NBSB";
  margin-left: 10px;
  font-weight: 700;
}

.footerpost__data__user {
  font-family: "NBSB";
  margin-left: 10px;
  font-weight: 600;
}

.footerpost__data__caption {
  font-family: "NBSR";
  font-weight: lighter;
  font-size: 0.9rem;
  margin-left: 10px;
  margin-right: 10px;
}

.footerpost__data__comments {
  font-family: "NBSR";
  margin-left: 10px;
  font-weight: 400;
  color: gray;
}

