@font-face {
  font-family: "NBSB";
  src: url("fonts/NimbusSansBold.ttf");
}

@font-face {
  font-family: "NBSR";
  src: url("fonts/NimbusSansRegular.ttf");
}

body {
  font-family: "NBSR";
}

.content {
  overflow: hidden;
}

* > .MuiSvgIcon-root {
  color: #99aab5;
  transition: filter 2s ease-in-out;
  transition:  filter 0.5s ease-in-out;
  -moz-transition:  filter 0.5s ease-in-out; /* Firefox 4 */
  -webkit-transition:  filter 0.5s ease-in-out; /* Safari and Chrome */
  -o-transition: filter 0.5s ease-in-out; /* Opera */
  -ms-transition:  filter 0.5s ease-in-out; /* Explorer 10 */
}


* > .MuiSvgIcon-root:hover {
  filter: brightness(0) invert(1) drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}
